.listbutton {
    margin-top: 3vh;
    background-color: rgba(0, 0, 0, 0);
    font-size: 30px;
    cursor: pointer;
}

.dashboardgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
}